.chat{
    flex: 0.70;
    display:flex;
    flex-direction: column;
}
.chat__header{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom:1px solid lightgray;
    
}
.chat__header > .chat__roomName{
    flex:1;
    margin-left: 15px;
}
.chat__header > .chat__logo{
    margin-left: 5px;
} 
.chat__header > .chat__headerRight{
    display:flex;
    min-width: 100px;
    justify-content: space-between;

}
.chat > .chat__body {
    background-image:url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    flex: 1;
    background-repeat: repeat;
    background-position: center;
    overflow: scroll;
    padding: 30px;    
    
}
 .chat__message{
    background-color:#ffffff;
    width:fit-content;
    padding: 8px;
    border-radius:7px;
    position:relative;
    margin-bottom:30px;
}
.chat__receiver{
    margin-left: auto;
    background-color:#d9fcbe;
}
.chat__name{
    position:absolute;
    top: -15px;
    font-weight:700;
    font-size: xx-small;
    
}
.chat__timestamp{
    font-size: xx-small;
    margin-left: 25px;
}
 
.chat__footer {
    display: flex;
    align-items: center;
    height:60px;
    border-top: 1px solid lightgray;
    justify-content: space-between;
}
.chat__footer > form{
    flex: 1;
    display: flex;
    

    
}
.chat__footer > form > input{
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;

}
.chat__footer > form > button {
    display: none;
}

.chat__footer > .MuiSvgIcon-root{
    padding:10px;
    color:gray;
}