.sidebarchat {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding: 10px;
  cursor:pointer;
  align-items: center;
}
.sidebarchat:hover {
  background-color: rgb(241, 239, 239);
}
.sidebarchat__info{
    margin-left: 15px;
}
.sidebarchat__info > h4{
    font-size: 18px;
}

.sidebarchat__info > p{
    font-size: 13px;
}
a{
  text-decoration: none !important;
  color:black;
}